<template>
  <div id="content">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <div id="head">
      <h1 id="title">ToDos</h1>
    </div>
    <div id="search">
      <span class="material-icons searchbutton" @click="getItem"> search </span>
      <input
        placeholder="Todo suchen..."
        class="searchbox"
        v-model="searchValue"
      />
    </div>
    <!-- Show List-->
    <div v-if="loading">Loading items...</div>
    <!-- Ceate an ListElement for each offer-->
    <div v-else>
      <div v-if="error" id="error">
        Testdaten wegen Fehler: {{ error.message }}
      </div>
      <div v-for="item in items.todos" v-bind:key="item" id="list">
        <div class="item">
          <div class="text">
            <b>{{ item.name }}</b>
          </div>
          <div class="buttons">
            <span
              class="material-icons"
              @click="openUpdate(item.name, item.priority)"
            >
              edit
            </span>
            <span class="material-icons" @click="deleteItem(item.name)">
              delete
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Item-->
    <div class="item" v-if="add">
      <div>
        <input placeholder="Todo" class="text" v-model="newTodo" />
        <input placeholder="Priority" class="text" v-model="newPriority" />
        <div class="buttons done">
          <span class="material-icons done" @click="create"> done </span>
        </div>
      </div>
    </div>
    <!--"Add" Button-->
    <div>
      <span class="material-icons add" @click="toggleCreate"> add </span>
    </div>
    <!-- Edit Item -->
    <div class="item edit" v-if="update">
      <div>
        <div class="text">
          <b>"{{ todoToUpdate }}" bearbeiten</b>
        </div>
        <input
          placeholder="new Priority"
          class="text"
          v-model="priorityUpdate"
        />
        <div class="buttons done">
          <span class="material-icons" @click="closeUpdate"> close </span>
          <span class="material-icons done" @click="updateTodo"> done </span>
        </div>
      </div>
    </div>
    <!-- Single Item-->
    <div class="item edit" v-if="showItem">
      <div>
        <div class="text" v-if="searchItem != null">
          <b>"{{ searchItem.name }}" bearbeiten</b>
        </div>
        <div v-else>
          <b>Kein Todo gefunden</b>
        </div>
        <div class="buttons" v-if="searchItem != null">
          <span
            class="material-icons"
            @click="openUpdate(searchItem.name, searchItem.priority)"
          >
            edit
          </span>
          <span class="material-icons" @click="deleteItem(searchItem.name)">
            delete
          </span>
        </div>
        <div class="buttons done">
          <span class="material-icons" @click="closeSearch"> close </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import * as requests from "./requests";
import * as testdata from "./testdata/testdata";

export default defineComponent({
  name: "List",
  data() {
    return {
      update: false,
      add: false,
      loading: false,
      error: null,
      showList: true,
      items: { todos: [{ name: "", priority: 1 }] },
      newTodo: null,
      newPriority: null,
      todoToUpdate: null,
      priorityUpdate: null,
      searchValue: null,
      searchItem: { name: "", priority: 1 },
      showItem: false,
    };
  },
  created() {
    this.loading = true;
    this.showList = true;
    this.loadItems();
  },

  methods: {
    loadItems() {
      // Get all items and show them when Promise is successful
      requests
        .getItems()
        .then((result) => {
          this.items = result.data;
        })
        .catch((error) => {
          this.error = error;
          // Show testdata if there is no connection
          this.items = testdata.getData();
          console.log(this.items);
        })
        .finally(() => (this.loading = false));
    },
    toggleCreate() {
      this.add = !this.add;
    },
    create() {
      this.add = false;
      requests.newItem(this.newTodo, this.newPriority);
      this.newPriority = null;
      this.newTodo = null;
      this.loadItems();
    },
    openUpdate(todo, priority) {
      this.update = true;
      this.todoToUpdate = todo;
      this.priorityUpdate = priority;
    },
    closeUpdate() {
      this.update = false;
      this.todoToUpdate = null;
    },
    updateTodo() {
      requests.changeItem(this.todoToUpdate, this.priorityUpdate);
      this.loadItems();
    },
    deleteItem(todo) {
      alert('"' + todo + '" gelöscht');
      this.showItem = false;
      requests.deleteItem(todo);
    },
    getItem() {
      requests
        .getItem(this.searchValue)
        .then((result) => {
          this.searchItem = result.data;
          this.showItem = true;
          this.searchValue = null;
        })
        .catch(() => {
          this.searchItem = null;
          this.showItem = true;
          this.searchValue = null;
        });
    },
    closeSearch() {
      this.showItem = false;
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#content {
  width: 50%;
  height: 100%;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#title {
  text-align: center;
  margin: 8px;
}
.text {
  margin-left: 20px;
  position: relative;
  top: 10px;
}
.item {
  height: 50px;
  border-radius: 10px;
  box-shadow: 4px 3px 8px 1px #969696;
  margin-bottom: 20px;
  background-color: white;
}
.buttons {
  float: right;
  position: relative;
  top: -10px;
}

.material-icons {
  margin-right: 8px;
  cursor: pointer;
}

.add {
  border: 1px solid;
  border-radius: 50%;
  display: table !important;
  margin: 0 auto;
}

#head {
  margin-bottom: 16px;
}

.done {
  top: 10px;
}

.edit {
  margin: auto;
  width: 40%;
  position: absolute;
  left: 30%;
  height: 100px;
  top: 20%;
  background-color: white;
}

#error {
  color: crimson;
  font-size: large;
}

.searchbutton,
.searchbox {
  float: right;
}

#search {
  margin-bottom: 30px;
}
</style>
